@{
    ViewData["Title"] = "Home Page";
}


<!-- BEGIN content_for_index -->
<div id="shopify-section-1484331457896"
	 class="shopify-section section index-section section_homepage section_slideshow">
	<div class="container direction_left ">
		<div class="section_slider swiper-container " id="slideshow_1484331457896" data-autoplay="false"
			 data-speed="5000">
			<div class="swiper-wrapper">
				<div class="swiper-slide image_slide">

					<div class="img_placeholder__wrap"
						 style="background-image: url( cdn/shop/files/001_1170x577_crop_center4337.jpg?v=1614290116);">
					</div>



					<div class="slide_caption align_left">


						<div class="caption_text">
							<h2 class="slider_title_animation" data-in-effect="swing"
								id="title_1484331457896_1527864987526">
								New collection
							</h2>

							<p>of fashion clothes</p>



							<div style="display:flex;justify-content:center;">
								<a style="margin-right: 20px;" class="btn slider_btn" asp-controller ="Sellers" asp-action="Create">
									Sign Up as a Seller
								</a>
								<a asp-controller ="Users"  class="btn" onmouseout="this.style.backgroundColor='#333333';this.style.border='1px solid #333333 '" onmouseover="this.style.backgroundColor='#6fcfb8';this.style.border='1px solid #6fcfb8 ';" style="background-color:#333333;border:1px solid #333333" asp-action="Create">
									Sign Up as a User
								</a>
							</div>

						</div>


					</div>

				</div>
				<div id="pagination_1484331457896" class="swiper_pagination align_right"></div>

				<div id="slider_prev_1484331457896" class="swiper_btn swiper_btn__prev"></div>
				<div id="slider_next_1484331457896" class="swiper_btn swiper_btn__next"></div>

			</div>
		</div>


		<div class="banners_block">
			<div class="banner_big">

				<img src="~/cdn/shop/files/photoCollection.jpg" />


				<a class="banner_text" href="collections.html">


					<h4>Get the hottest styles</h4>



					<h3>at 70% off!</h3>



				</a>

			</div>

			<div class="banner_small">
				<div class="img_placeholder__wrap" style="background-color: #6fcfb8;"></div>

				<div class="banner_caption">

					<a class="banner_text" href="collections.html">


						<h3>last chance</h3>



						<h4>up to 60%off</h4>



					</a>

				</div>
			</div>
		</div>



	</div>



</div>
<div id="shopify-section-1527851664343"
	 class="shopify-section section section_homepage section_collections_with_menu">
	<div class="container">
		<div class="row">
			<div class="linklist_item linklist_big">
				<div class="menu_wrap linklist_menu_item">
					<h4 class="linklist_title">
						Categories<span class="menu_trigger">
							<i class="fa fa-caret-down"></i>
						</span>
					</h4>
					<ul>

						<li class="link_item">
							<a class="linklist_link" href="collections/frontpage.html">
								Men’s
								clothing
							</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/women-s-clothing.html">
								Women’s
								clothing
							</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/teens-clothing.html">
								Teens
								clothing
							</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/frontpage.html">
								Children's
								clothing
							</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/sale.html">Sportswear</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/t-shirts.html">Uniforms</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/teens-clothing.html">Ethnic</a>
						</li>

						<li class="link_item">
							<a class="linklist_link"
							   href="collections/women-s-clothing.html">Vintage</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/frontpage.html">Hats & Caps</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/t-shirts.html">T-shirts</a>
						</li>

						<li class="link_item">
							<a class="linklist_link" href="collections/sale.html">Footwear</a>
						</li>

						<li class="link_item">
							<a class="linklist_link"
							   href="collections/women-s-clothing.html">Overcoats</a>
						</li>

					</ul>
				</div>
			</div>


			<div class="collection_listing_wrap with_menu">

				<div class="col-xs-4 item_3_1 item_2_1">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection02_270x255_crop_center4337.jpg?v=1614290116);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection01_270x255_crop_center4337.jpg?v=1614290116);">
							</div>

						</div>

						<a href="collections/frontpage.html" class="layer_2">

							<div class="collection_title">
								<p>shoes</p>
							</div>

						</a>

					</div>
				</div>

				<div class="col-xs-4  ">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection21_270x255_crop_center5d8b.jpg?v=1614290117);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection022_270x255_crop_center5d8b.png?v=1614290117);">
							</div>

						</div>

						<a href="collections/frontpage.html" class="layer_2">

							<div class="collection_title">
								<p><strong>Men&rsquo;s</strong><br><strong>outwear</strong></p>
							</div>

						</a>

					</div>
				</div>

				<div class="col-xs-4  item_2_1">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection22_270x255_crop_center5d8b.jpg?v=1614290117);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection012_270x255_crop_center5d8b.jpg?v=1614290117);">
							</div>

						</div>

						<a href="collections/women-s-clothing.html" class="layer_2">

							<div class="collection_title">
								<p>wome&rsquo;s</p>
								<p>hats</p>
							</div>

						</a>

					</div>
				</div>

				<div class="col-xs-4 item_3_1 ">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection013_270x255_crop_center5d8b.jpg?v=1614290117);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection013_-_Copy_270x255_crop_center5d8b.jpg?v=1614290117);">
							</div>

						</div>

						<a href="collections/teens-clothing.html" class="layer_2">

							<div class="collection_title">
								<p><strong>Men&rsquo;s</strong><br><strong>clothes</strong></p>
							</div>

						</a>

					</div>
				</div>

				<div class="col-xs-4  item_2_1">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection24_270x255_crop_center5d8b.jpg?v=1614290117);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection014_270x255_crop_center5d8b.jpg?v=1614290117);">
							</div>

						</div>

						<a href="collections/women-s-clothing.html" class="layer_2">

							<div class="collection_title">
								<p>women&rsquo;s<br>clothes</p>
							</div>

						</a>

					</div>
				</div>

				<div class="col-xs-4  ">
					<div class="collection_item hover_image">

						<div class="layer_1"
							 style="background: url(cdn/shop/files/collection25_270x255_crop_center5d8b.jpg?v=1614290117);">





							<div class="img_placeholder__wrap"
								 style="background-image: url( cdn/shop/files/collection015_270x255_crop_center5d8b.jpg?v=1614290117);">
							</div>

						</div>

						<a href="collections/t-shirts.html" class="layer_2">

							<div class="collection_title">
								<p><strong>Men&rsquo;s</strong><br><strong>bags</strong></p>
							</div>

						</a>

					</div>
				</div>

			</div>
		</div>
	</div>










</div>
<div id="shopify-section-1523632221771"
	 class="shopify-section section section_homepage section_featured-products">



	<div class="container with_bg" style="background-color: #ffffff;" ">

		<h2 class=" section_heading">popular products</h2>

		<div class="row product_listing__main">

			<div class="col-xs-3 item_4_1 item_2_1">

				<div class="product_item">
					<div class="product_img">
						<a class="img_change"
						   href="collections/teens-clothing/products/classic-fit-three-piece-check-suit.html">
							<img class="img__1"
								 src="cdn/shop/products/classic_fit_three-piece_check_suit_1_270x341_crop_topc416.jpg?v=1553073344"
								 alt="Classic Fit Three-Piece Check Suit">

							<img class="img__2"
								 src="cdn/shop/products/classic_fit_three-piece_check_suit_2_270x341_crop_topc416.jpg?v=1553073344"
								 alt="Classic Fit Three-Piece Check Suit" />



							<span class="product_badge new">new</span>




						</a>
					</div>

					<div class="product_info">
						<p class="product_name">

							<a href="products/classic-fit-three-piece-check-suit.html">
								Classic Fit
								Three-Piece Check Suit
							</a>

						</p>


						<p class="product_desc product_desc__short">
							You have made the right choice
							And it is good for you because as we all know people change their ...
						</p>
						<p class="product_desc product_desc__long">
							You have made the right choice
							And it is good for you because as we all know people change their claims
							with the course of time, and our good will be actual for a long time. The
							main reason of buying our clothes is the unique combination of fair price,
							extraordinary style and perfect quality. Here you can find garments of all
							sizes, colors, styles and fabrics. It will suit you best of all. Our
							employees put in great efforts to make this commodity. It will suit you best
							of all. Because we all ...
						</p>


						<div class="product_prop">
							<p class="product_price">



								<span class="money">$140.00</span>



							</p>

							<p class="product_color">
								<span class="color_options"
									  style="background-color: Gray;" title="Gray"></span><span class="color_options" style="background-color: Black;"
																								title="Black"></span><span class="color_options"
																														   style="background-color: Brown;" title="Brown"></span>
							</p>
						</div>

						<div class="product_links">
							<form method="post"
								  action="https://theme644-clothes-free.myshopify.com/cart/add"
								  class="add_to_cart_form">


								<a class="btn_options"
								   href="products/classic-fit-three-piece-check-suit.html">
									<i class="fa fa-shopping-cart"></i>Choose variant
								</a>


							</form>






							<a class="wishlist_btn wishlist_add_login" href="#"
							   title="Add to the wishlist">
								<i class="fa fa-heart-o"
								   aria-hidden="true"></i>
							</a>



							<a class="quick_view_btn"
							   href="products/classic-fit-three-piece-check-suit.html"
							   title="Quick view">
								<i class="fa fa-search-plus"
								   aria-hidden="true"></i>
							</a>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

			</div>

			<div class="col-xs-3  ">

				<div class="product_item" >
					<div class="product_img">
						<a class="img_change"
						   href="collections/teens-clothing/products/crewneck-sicoca-silk-blend-sweater.html">
							<img class="img__1" style="border-radius:15px"
								 src="cdn/shop/products/crewneck_sicoca_silk_blend_sweater_1_270x341_crop_topdf46.jpg?v=1553073338"
								 alt="Crewneck &#39;Sicoca&#39; Silk Blend Sweater">

							<img class="img__2" style="border-radius:15px"
								 src="cdn/shop/products/crewneck_sicoca_silk_blend_sweater_2_270x341_crop_topdf46.jpg?v=1553073338"
								 alt="Crewneck &#39;Sicoca&#39; Silk Blend Sweater" />




						</a>
					</div>

					<div class="product_info">
						<p class="product_name">

							<a href="products/crewneck-sicoca-silk-blend-sweater.html">
								Crewneck 'Sicoca'
								Silk Blend Sweater
							</a>

						</p>


						<p class="product_desc product_desc__short">
							We can propose you a list of gift
							ideas
							It will suit you best of all. Because we all live in the ...
						</p>
						<p class="product_desc product_desc__long">
							We can propose you a list of gift
							ideas
							It will suit you best of all. Because we all live in the time of total
							consuming of uncountable goods and services, and this has become the main
							reason for the rapid growth of a so-called culture of consumption in our
							society. So, this circumstance forced all leading successful companies to
							explore all needs and wishes of different groups of potential clients very
							deeply. Our employees put in great efforts to make this commodity.
							So, with the great plea...
						</p>


						<div class="product_prop">
							<p class="product_price">



								<span class="money">$110.00</span> <span class="money_like">–</span>
								<span class="money">$119.00</span>



							</p>

							<p class="product_color">
								<span class="color_options"
									  style="background-color: Blue;" title="Blue"></span>
							</p>
						</div>

						<div class="product_links">
							<form method="post"
								  action="https://theme644-clothes-free.myshopify.com/cart/add"
								  class="add_to_cart_form">


								<a class="btn_options"
								   href="products/crewneck-sicoca-silk-blend-sweater.html">
									<i class="fa fa-shopping-cart"></i>Choose variant
								</a>


							</form>






							<a class="wishlist_btn wishlist_add_login" href="#"
							   title="Add to the wishlist">
								<i class="fa fa-heart-o"
								   aria-hidden="true"></i>
							</a>



							<a class="quick_view_btn"
							   href="products/crewneck-sicoca-silk-blend-sweater.html"
							   title="Quick view">
								<i class="fa fa-search-plus"
								   aria-hidden="true"></i>
							</a>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

			</div>

			<div class="col-xs-3  item_2_1">

				<div class="product_item">
					<div class="product_img">
						<a class="img_change"
						   href="collections/teens-clothing/products/illusion-yoke-lace-sheath-dress.html">
							<img class="img__1"
								 src="cdn/shop/products/illusion_yoke_lace_sheath_dress_1_270x341_crop_topccac.jpg?v=1553073332"
								 alt="Illusion Yoke Lace Sheath Dress">

							<img class="img__2"
								 src="cdn/shop/products/illusion_yoke_lace_sheath_dress_2_270x341_crop_topccac.jpg?v=1553073332"
								 alt="Illusion Yoke Lace Sheath Dress" />



							<span class="product_badge new">new</span>




							<span class="product_badge sale">sale</span>



						</a>
					</div>

					<div class="product_info">
						<p class="product_name">

							<a href="products/illusion-yoke-lace-sheath-dress.html">
								Illusion Yoke Lace
								Sheath Dress
							</a>

						</p>


						<p class="product_desc product_desc__short">
							Here you can find garments of all
							sizes, colors, styles and fabrics
							And that is why we are offeri...
						</p>
						<p class="product_desc product_desc__long">
							Here you can find garments of all
							sizes, colors, styles and fabrics
							And that is why we are offering you the result of great market and
							technological research – our magnificent product. Our employees put in great
							efforts to make this commodity. Our good was made up by best experts with
							the help of most advanced technologies, and it gives us right to consider
							this product to be a premium one. Fashion has always been so temporary and
							uncertain. You can’t keep up with it.
							Just take a look at our ...
						</p>


						<div class="product_prop">
							<p class="product_price">



								<span class="money">$80.00</span>



							</p>

							<p class="product_color">
								<span class="color_options"
									  style="background-color: Brown;" title="Brown"></span><span class="color_options" style="background-color: Beige;"
																								  title="Beige"></span>
							</p>
						</div>

						<div class="product_links">
							<form method="post"
								  action="https://theme644-clothes-free.myshopify.com/cart/add"
								  class="add_to_cart_form">


								<a class="btn_options"
								   href="products/illusion-yoke-lace-sheath-dress.html">
									<i class="fa fa-shopping-cart"></i>Choose variant
								</a>


							</form>






							<a class="wishlist_btn wishlist_add_login" href="#"
							   title="Add to the wishlist">
								<i class="fa fa-heart-o"
								   aria-hidden="true"></i>
							</a>



							<a class="quick_view_btn"
							   href="products/illusion-yoke-lace-sheath-dress.html"
							   title="Quick view">
								<i class="fa fa-search-plus"
								   aria-hidden="true"></i>
							</a>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

			</div>

			<div class="col-xs-3  ">

				<div class="product_item">
					<div class="product_img">
						<a class="img_change"
						   href="collections/teens-clothing/products/josefina-boyfriend-jeans-bright-light-broken-twill.html">
							<img class="img__1"
								 src="cdn/shop/products/josefina_boyfriend_jeans_bright_light_broken_twill_1_270x341_crop_top0858.jpg?v=1553073326"
								 alt="Josefina Boyfriend Jeans Bright Light Broken Twill">

							<img class="img__2"
								 src="cdn/shop/products/josefina_boyfriend_jeans_bright_light_broken_twill_2_270x341_crop_top0858.jpg?v=1553073326"
								 alt="Josefina Boyfriend Jeans Bright Light Broken Twill" />



							<span class="product_badge new">new</span>




							<span class="product_badge sale">sale</span>



						</a>
					</div>

					<div class="product_info">
						<p class="product_name">

							<a href="products/josefina-boyfriend-jeans-bright-light-broken-twill.html">
								Josefina
								Boyfriend Jeans Bright Light Broken Twill
							</a>

						</p>


						<p class="product_desc product_desc__short">
							And that is why we are offering you
							the result of great market and technological research – our m...
						</p>
						<p class="product_desc product_desc__long">
							And that is why we are offering you
							the result of great market and technological research – our magnificent
							product. Our employees put in great efforts to make this commodity. Our good
							was made up by best experts with the help of most advanced technologies, and
							it gives us right to consider this product to be a premium one.
							Fashion has always been so temporary and uncertain

							With the great pleasure we are offering you our goods
							Fashion satisfies our willingness to be attractive
							That is why we...
						</p>


						<div class="product_prop">
							<p class="product_price">


								<span class="money money_sale">$180.00</span>


								<span class="money">$160.00</span>

							</p>

							<p class="product_color"></p>
						</div>

						<div class="product_links">
							<form method="post"
								  action="https://theme644-clothes-free.myshopify.com/cart/add"
								  class="add_to_cart_form">

								<button class="btn-cart" disabled>
									<i class="fa fa-ban"></i>Unavailable
								</button>

							</form>






							<a class="wishlist_btn wishlist_add_login" href="#"
							   title="Add to the wishlist">
								<i class="fa fa-heart-o"
								   aria-hidden="true"></i>
							</a>



							<a class="quick_view_btn"
							   href="products/josefina-boyfriend-jeans-bright-light-broken-twill.html"
							   title="Quick view">
								<i class="fa fa-search-plus"
								   aria-hidden="true"></i>
							</a>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

			</div>

		</div>
	</div>

</div>
<div id="shopify-section-1522916022994"
	 class="shopify-section section section_homepage section_lookbook">
	<div class="lookbook_wrap container">
		<div class="lookbook_img">
			<div class="img_placeholder__wrap"
				 style="background-image: url( cdn/shop/files/image01_1170x4405d8b.jpg?v=1614290117);">
			</div>
		</div>

		<div class="lookbook_container container">
			<div class="lookbook_item caption_right caption_bottom" style="left: 45%;top: 35%;">
				<a class="lookbook_item__bullet" href="products/mixed-media-top.html">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>

				<a class="lookbook_item__caption" href="products/mixed-media-top.html">
					<img src="cdn/shop/products/mixed_media_top_1_80x100_crop_top7c8c.jpg?v=1553073315"
						 alt="Mixed Media Top">
					<span class="product_name">Mixed Media Top</span>
					<span class="money">$265.00</span>
				</a>
			</div>
			<div class="lookbook_item caption_right caption_bottom" style="left: 57%;top: 42%;">
				<a class="lookbook_item__bullet" href="products/sloane-crewneck-cashmere-sweater.html">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>

				<a class="lookbook_item__caption" href="products/sloane-crewneck-cashmere-sweater.html">
					<img src="cdn/shop/products/sloane_crewneck_cashmere_sweater_1_80x100_crop_top1282.jpg?v=1553073276"
						 alt="Sloane Crewneck Cashmere Sweater">
					<span class="product_name">Sloane Crewneck Cashmere Sweater</span>
					<span class="money">$110.00</span>
				</a>
			</div>
			<div class="lookbook_item caption_left caption_top" style="left: 40%;top: 68%;">
				<a class="lookbook_item__bullet"
				   href="products/the-lux-tailored-straight-leg-pants.html">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>

				<a class="lookbook_item__caption"
				   href="products/the-lux-tailored-straight-leg-pants.html">
					<img src="cdn/shop/products/the_lux_tailored_straight_leg_pants_1_80x100_crop_topa4b6.jpg?v=1553073268"
						 alt="The Lux' Tailored Straight Leg Pants">
					<span class="product_name">The Lux' Tailored Straight Leg Pants</span>
					<span class="money">$340.00</span>
				</a>
			</div>
		</div>
	</div>





</div>
<div id="shopify-section-1523632130819"
	 class="shopify-section section section_homepage section_products-carousel">
	<div class="carousel_wrap container with_bg" style="background-color: #ffffff;">

		<h2 class="section_heading">season sale</h2>






		<div class="products_carousel swiper-container" id="products_carousel_1523632130819"
			 data-products="10" data-rows="1" data-dir="1">
			<div class="swiper-wrapper product_listing__main">

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/bing-trim-fit-cotton-jersey-polo.html">
								<img class="img__1"
									 src="cdn/shop/products/bing_trim_fit_cotton_jersey_polo_1_270x341_crop_topb498.jpg?v=1553073349"
									 alt="Bing&#39; Trim Fit Cotton Jersey Polo">

								<img class="img__2"
									 src="cdn/shop/products/bing_trim_fit_cotton_jersey_polo_2_270x341_crop_topb498.jpg?v=1553073349"
									 alt="Bing&#39; Trim Fit Cotton Jersey Polo" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/bing-trim-fit-cotton-jersey-polo.html">
									Bing' Trim Fit
									Cotton Jersey Polo
								</a>

							</p>


							<p class="product_desc product_desc__short">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenom...
							</p>
							<p class="product_desc product_desc__long">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenomenon is very whimsical, thus we as the consumers always try to
								stay in touch with all the latest fashion tendencies. Obviously there is
								nothing wrong about it because fashion satisfies our willingness to be
								attractive. And also fashion is the detector of prosperity and social
								rank.But nowadays fashion is not such unavailable as it was a couple of
								centuries ago.
								It will suit you best of all

								You ha...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$285.00</span> <span class="money_like">–</span>
									<span class="money">$290.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: Blue;" title="Blue"></span><span class="color_options" style="background-color: White;"
																									title="White"></span><span class="color_options"
																															   style="background-color: Gray;" title="Gray"></span><span class="color_options" style="background-color: Green;"
																																						  title="Green"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/bing-trim-fit-cotton-jersey-polo.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn"
								   href="products/bing-trim-fit-cotton-jersey-polo.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change"
							   href="products/crewneck-sicoca-silk-blend-sweater.html">
								<img class="img__1"
									 src="cdn/shop/products/crewneck_sicoca_silk_blend_sweater_1_270x341_crop_topdf46.jpg?v=1553073338"
									 alt="Crewneck &#39;Sicoca&#39; Silk Blend Sweater">

								<img class="img__2"
									 src="cdn/shop/products/crewneck_sicoca_silk_blend_sweater_2_270x341_crop_topdf46.jpg?v=1553073338"
									 alt="Crewneck &#39;Sicoca&#39; Silk Blend Sweater" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/crewneck-sicoca-silk-blend-sweater.html">
									Crewneck
									'Sicoca' Silk Blend Sweater
								</a>

							</p>


							<p class="product_desc product_desc__short">
								We can propose you a list of
								gift ideas
								It will suit you best of all. Because we all live in the ...
							</p>
							<p class="product_desc product_desc__long">
								We can propose you a list of gift
								ideas
								It will suit you best of all. Because we all live in the time of total
								consuming of uncountable goods and services, and this has become the
								main reason for the rapid growth of a so-called culture of consumption
								in our society. So, this circumstance forced all leading successful
								companies to explore all needs and wishes of different groups of
								potential clients very deeply. Our employees put in great efforts to
								make this commodity.
								So, with the great plea...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$110.00</span> <span class="money_like">–</span>
									<span class="money">$119.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: Blue;" title="Blue"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/crewneck-sicoca-silk-blend-sweater.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn"
								   href="products/crewneck-sicoca-silk-blend-sweater.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/illusion-yoke-lace-sheath-dress.html">
								<img class="img__1"
									 src="cdn/shop/products/illusion_yoke_lace_sheath_dress_1_270x341_crop_topccac.jpg?v=1553073332"
									 alt="Illusion Yoke Lace Sheath Dress">

								<img class="img__2"
									 src="cdn/shop/products/illusion_yoke_lace_sheath_dress_2_270x341_crop_topccac.jpg?v=1553073332"
									 alt="Illusion Yoke Lace Sheath Dress" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/illusion-yoke-lace-sheath-dress.html">
									Illusion Yoke
									Lace Sheath Dress
								</a>

							</p>


							<p class="product_desc product_desc__short">
								Here you can find garments of
								all sizes, colors, styles and fabrics
								And that is why we are offeri...
							</p>
							<p class="product_desc product_desc__long">
								Here you can find garments of all
								sizes, colors, styles and fabrics
								And that is why we are offering you the result of great market and
								technological research – our magnificent product. Our employees put in
								great efforts to make this commodity. Our good was made up by best
								experts with the help of most advanced technologies, and it gives us
								right to consider this product to be a premium one. Fashion has always
								been so temporary and uncertain. You can’t keep up with it.
								Just take a look at our ...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$80.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: Brown;" title="Brown"></span><span class="color_options" style="background-color: Beige;"
																									  title="Beige"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/illusion-yoke-lace-sheath-dress.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn"
								   href="products/illusion-yoke-lace-sheath-dress.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change"
							   href="products/josefina-boyfriend-jeans-bright-light-broken-twill.html">
								<img class="img__1"
									 src="cdn/shop/products/josefina_boyfriend_jeans_bright_light_broken_twill_1_270x341_crop_top0858.jpg?v=1553073326"
									 alt="Josefina Boyfriend Jeans Bright Light Broken Twill">

								<img class="img__2"
									 src="cdn/shop/products/josefina_boyfriend_jeans_bright_light_broken_twill_2_270x341_crop_top0858.jpg?v=1553073326"
									 alt="Josefina Boyfriend Jeans Bright Light Broken Twill" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/josefina-boyfriend-jeans-bright-light-broken-twill.html">
									Josefina
									Boyfriend Jeans Bright Light Broken Twill
								</a>

							</p>


							<p class="product_desc product_desc__short">
								And that is why we are offering
								you the result of great market and technological research – our m...
							</p>
							<p class="product_desc product_desc__long">
								And that is why we are offering
								you the result of great market and technological research – our
								magnificent product. Our employees put in great efforts to make this
								commodity. Our good was made up by best experts with the help of most
								advanced technologies, and it gives us right to consider this product to
								be a premium one.
								Fashion has always been so temporary and uncertain

								With the great pleasure we are offering you our goods
								Fashion satisfies our willingness to be attractive
								That is why we...
							</p>


							<div class="product_prop">
								<p class="product_price">


									<span class="money money_sale">$180.00</span>


									<span class="money">$160.00</span>

								</p>

								<p class="product_color"></p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">

									<button class="btn-cart" disabled>
										<i class="fa fa-ban"></i>Unavailable
									</button>

								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn"
								   href="products/josefina-boyfriend-jeans-bright-light-broken-twill.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/matchbox-slim-fit-jeans.html">
								<img class="img__1"
									 src="cdn/shop/products/matchbox_slim_fit_jeans_1_270x341_crop_top99d9.jpg?v=1553073320"
									 alt="Matchbox&#39; Slim Fit Jeans">

								<img class="img__2"
									 src="cdn/shop/products/matchbox_slim_fit_jeans_2_270x341_crop_top99d9.jpg?v=1553073320"
									 alt="Matchbox&#39; Slim Fit Jeans" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/matchbox-slim-fit-jeans.html">
									Matchbox' Slim Fit
									Jeans
								</a>

							</p>


							<p class="product_desc product_desc__short">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenom...
							</p>
							<p class="product_desc product_desc__long">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenomenon is very whimsical, thus we as the consumers always try to
								stay in touch with all the latest fashion tendencies. Obviously there is
								nothing wrong about it because fashion satisfies our willingness to be
								attractive. And also fashion is the detector of prosperity and social
								rank.But nowadays fashion is not such unavailable as it was a couple of
								centuries ago.
								It will suit you best of all

								You ha...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$139.00</span> <span class="money_like">–</span>
									<span class="money">$141.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: Blue;" title="Blue"></span><span class="color_options" style="background-color: Black;"
																									title="Black"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/matchbox-slim-fit-jeans.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn" href="products/matchbox-slim-fit-jeans.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/new-fray-day-polo.html">
								<img class="img__1"
									 src="cdn/shop/products/new_fray_day_polo_1_270x341_crop_top65c6.jpg?v=1553073310"
									 alt="New Fray Day&#39; Polo">

								<img class="img__2"
									 src="cdn/shop/products/new_fray_day_polo_2_270x341_crop_top65c6.jpg?v=1553073310"
									 alt="New Fray Day&#39; Polo" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/new-fray-day-polo.html">New Fray Day' Polo</a>

							</p>


							<p class="product_desc product_desc__short">
								We can propose you a list of
								gift ideas
								It will suit you best of all. Because we all live in the ...
							</p>
							<p class="product_desc product_desc__long">
								We can propose you a list of gift
								ideas
								It will suit you best of all. Because we all live in the time of total
								consuming of uncountable goods and services, and this has become the
								main reason for the rapid growth of a so-called culture of consumption
								in our society. So, this circumstance forced all leading successful
								companies to explore all needs and wishes of different groups of
								potential clients very deeply. Our employees put in great efforts to
								make this commodity.
								So, with the great plea...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$90.00</span> <span class="money_like">–</span>
									<span class="money">$99.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: SteelBlue;"
										  title="SteelBlue"></span><span class="color_options"
													 style="background-color: Coral;" title="Coral"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options" href="products/new-fray-day-polo.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn" href="products/new-fray-day-polo.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/new-york-classic-fit-wool-suit.html">
								<img class="img__1"
									 src="cdn/shop/products/new_york_classic_fit_wool_suit_1_270x341_crop_topade4.jpg?v=1553073304"
									 alt="New York Classic Fit Wool Suit">

								<img class="img__2"
									 src="cdn/shop/products/new_york_classic_fit_wool_suit_2_270x341_crop_topade4.jpg?v=1553073304"
									 alt="New York Classic Fit Wool Suit" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/new-york-classic-fit-wool-suit.html">
									New York Classic
									Fit Wool Suit
								</a>

							</p>


							<p class="product_desc product_desc__short">
								Here you can find garments of
								all sizes, colors, styles and fabrics
								And that is why we are offeri...
							</p>
							<p class="product_desc product_desc__long">
								Here you can find garments of all
								sizes, colors, styles and fabrics
								And that is why we are offering you the result of great market and
								technological research – our magnificent product. Our employees put in
								great efforts to make this commodity. Our good was made up by best
								experts with the help of most advanced technologies, and it gives us
								right to consider this product to be a premium one. Fashion has always
								been so temporary and uncertain. You can’t keep up with it.
								Just take a look at our ...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$350.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: LightGrey;"
										  title="LightGrey"></span><span class="color_options"
													 style="background-color: DarkGray;" title="DarkGray"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/new-york-classic-fit-wool-suit.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn"
								   href="products/new-york-classic-fit-wool-suit.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

				<div class="swiper-slide">

					<div class="product_item">
						<div class="product_img">
							<a class="img_change" href="products/quilted-leather-jacket.html">
								<img class="img__1"
									 src="cdn/shop/products/quilted_leather_jacket_1_270x341_crop_topfe7a.jpg?v=1553073291"
									 alt="Quilted Leather Jacket">

								<img class="img__2"
									 src="cdn/shop/products/quilted_leather_jacket_2_270x341_crop_topfe7a.jpg?v=1553073291"
									 alt="Quilted Leather Jacket" />



								<span class="product_badge new">new</span>




								<span class="product_badge sale">sale</span>



							</a>
						</div>

						<div class="product_info">
							<p class="product_name">

								<a href="products/quilted-leather-jacket.html">
									Quilted Leather
									Jacket
								</a>

							</p>


							<p class="product_desc product_desc__short">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenom...
							</p>
							<p class="product_desc product_desc__long">
								Fashion has always been so
								temporary and uncertain. You can’t keep up with it. This social
								phenomenon is very whimsical, thus we as the consumers always try to
								stay in touch with all the latest fashion tendencies. Obviously there is
								nothing wrong about it because fashion satisfies our willingness to be
								attractive. And also fashion is the detector of prosperity and social
								rank.But nowadays fashion is not such unavailable as it was a couple of
								centuries ago.
								It will suit you best of all

								You ha...
							</p>


							<div class="product_prop">
								<p class="product_price">



									<span class="money">$190.00</span> <span class="money_like">–</span>
									<span class="money">$199.00</span>



								</p>

								<p class="product_color">
									<span class="color_options"
										  style="background-color: Red;" title="Red"></span><span class="color_options" style="background-color: Black;"
																								  title="Black"></span>
								</p>
							</div>

							<div class="product_links">
								<form method="post"
									  action="https://theme644-clothes-free.myshopify.com/cart/add"
									  class="add_to_cart_form">


									<a class="btn_options"
									   href="products/quilted-leather-jacket.html">
										<i class="fa fa-shopping-cart"></i>Choose variant
									</a>


								</form>






								<a class="wishlist_btn wishlist_add_login" href="#"
								   title="Add to the wishlist">
									<i class="fa fa-heart-o"
									   aria-hidden="true"></i>
								</a>



								<a class="quick_view_btn" href="products/quilted-leather-jacket.html"
								   title="Quick view">
									<i class="fa fa-search-plus"
									   aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>

			</div>
		</div>

		<div id="carousel_swiper__prev_1523632130819" class="swiper_btn swiper_btn__prev"></div>
		<div id="carousel_swiper__next_1523632130819" class="swiper_btn swiper_btn__next"></div>








	</div>




</div>
<!-- END content_for_index -->
