@model EcommerceWebsite.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div style="display:flex; justify-content:center;">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="ImageFile2" class="control-label"></label>
                <input type="file" asp-for="ImageFile2" class="form-control" />
                <span asp-validation-for="ImageFile2" class="text-danger"></span>
            </div>

            <div class="form-group" hidden >
                <input  asp-for="SellerId" value="@ViewBag.SellerId" />
            </div> 
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

